<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <button type="button" class="fa fa-facebook" onclick="location.href='https://www.facebook.com/profile.php?id=100007278077277';" value="Go to Facebook"></button>
    <button type="button" class="fa fa-twitter" onclick="location.href='https://twitter.com/hasancanugurlu';" value="Go to Twitter"></button>
<%- include("partials/footer"); -%>
